
body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://wallpaperaccess.com/full/2191017.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}



/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}



/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}



/*Section Classes*/

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}



/*About Section*/

#about {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}



/*Skills Section*/

.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    margin: 35px;
    overflow: hidden;
}

.box-shadow {

    box-shadow: 1px 1px 5px 2px #989882;
}



.skill-name  {

    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    align-items: center;
    color: white;
    font-size: 1rem;
    height: 100%;

}



/* Portfolio Section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.portfolio-image-container {
/*   setting the properties of the image like width background size and margin etc   */
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
/*     background-repeat: no-repeat; */
/*   position will be set to relative to relative as the text that will appear on this image must be absolute    */
    position: relative;  
}

.portfolio-image-container img {
/*   here we are setting the height and width of the image with respect to the container in which it is present   */
    width: 100%;
    height: 100%;
}

.portfolio-details {
    
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity:0;
    text-align: center;
    padding: 45px;
}


.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;

}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
    opacity:1;
}



/* Common Margin Classes */

.mb75px {
    margin-bottom: 75px;
}



/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}



/* setting background-color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}



/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit; 
/* height  inherit  --> will inherit the height of parent container */
    width: 50%;
}

/* Contact Form */

#contact {
/*     background-color: #0abcf9; */
    background: linear-gradient(50deg, #2857a4 , #403066 75%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* 
relative position of a element 
The element is positioned according to the normal flow of the document, 
and then offset relative to itself based on the values of top, right, bottom,
 and left. The offset does not affect the position of any other elements; 
 thus, the space given for the element in the page layout is the same as 
 if position were static. 
 */

.timeline{
  position: relative;
    width: 75%;
    /* border: 2px solid black; */
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

/*
 position--> absolute in css
The element is removed from the normal document flow, and no 
space is created for the element in the page layout. It is positioned
 relative to its closest positioned ancestor, if any; otherwise, it is
  placed relative to the initial containing block. Its final position
   is determined by the values of top, right, bottom, and left.
*/
.timeline-boxes{
    position: relative;
    margin: 38px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    
}
.time-line-container{
   display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*
  now as we can see the alternate boxes are towards right of the timeline-divider
i.e 2nd ,4th,6th and so on these boxes are on the right of timeline divider 
so, we can conclude that every even number timeline-box will be on the right side 
and every odd number timeline-box will be on the left of timeline-divider.
so,in order to achieve that we will use nth child pseudo class  
*/
.timeline-boxes:nth-child(2n){
    left:53%;
    /* margin-top: 20rem; */
}


.img-size{
    height:4rem ;
    width: 4rem;
}

.experience-info{
    /*alligns all the elements to the right of the container*/
text-align: right;
}

.style-designation{
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(40, 87, 164);
}
.style-company-name{
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #eb822d;
}
.style-date{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: grey;
}
.description-style{
    text-align: justify;
    font-size: small;
    color: grey;
}
.time-line-divider{
    width: 0%;
    border-left: 3px dashed rgb(191, 229, 254);
    top: 10%;
    height: 70%;
    position: absolute;
    left: 37.5rem;
}


.time-line-traveller{
    position: sticky;
    top: 30%;
     transform: rotate(90deg);
    z-index: 2;
}
.change-plane-color{
    color: #2857a4;
   
}





.timeline-boxes:nth-child(2n+1)::after{
content:'';
position:absolute;
top:30%;
right:-12.5%;
border-radius:50%;
width: 1rem;
height:1rem;
background-color: rgb(211,211,211);
z-index:1;
}

.timeline-boxes:nth-child(2n)::after{
content:'';
position:absolute;
top:30%;
left:-11%;
border-radius:50%;
width: 1rem;
height:1rem;
background-color: rgb(211,211,211);
z-index:1;
}


/* when resume is viewed on tab */
@media  screen and (max-width: 768px) {
    .time-line-divider{
        left: 1%;
    }
    .timeline-boxes{
        margin-left: 12%;
        left: -3% !important;
        width:80%;
    }
    .timeline-boxes::after{
        left: -12% !important;
    }

      /*   css code for responsive contact section   */
    #contact-container{
        display:flex;
        flex-direction:column;
/*        align-items: center; */
/*       justify-content: center; */
/*         min-width:100%; */
    }
    
    #contact-form-container{
/*        margin-right:20% !important; */
      
        min-width:100%;
    }
     #contact-form{
       margin-right:10rem ;
    }
/*     .sub-btn{

    } */
    
    #my-details-container{
        margin-left:8rem;
      min-width:65%;
    }
    

}
/* ------ resume tab code ends here----- */

.dropbtn {
  display:none;
  
}

.dropdown {
 
    display:none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgb(155, 157, 140);
  width: 7.0rem;
/*  box-shadow: 0px 0px 16px red;
  box-shadow: 0 0 10px #fff; */
  z-index: 1;
  margin-right:-2rem;
}

.dropdown-content a {
  color: white;
  padding-top:0.25rem ;
    padding-bottom: 0.25rem;
    padding-left:0.7rem;
    font-size: 0.8rem;
    text-decoration:none;
  display: block;
  
}


/* when resume is viewed on mobile */

@media screen and (max-width: 527px){
  
    .fa-bars{
        color:white;
        margin-left:89%;
    }
    
/*   changes in  work-expierence and education sectin on changing screem size   */
    
    .section-heading{
        text-align:center;
    }
    
/*    decrease size of all the elements inside the  timeline-boxes class  */
    
.horizontal-list{
margin-bottom:15%;
}

.img-size{
        width: 25%;
        height: 60%;
    }
    .experience-info p, .description-style{
                font-size: 0.7rem !important;
    }
    .style-company-name,.style-date{
        margin-left: -5rem !important;
    }
    
/*   decrease font-size of heading --> Work Experience   */
    .decrease-font-size{
        font-size: 2rem  !important;
    }
  
    .timeline-boxes{
       margin-left: 18vw;
    }
     .timeline-boxes::after{
        left: -29% !important;
    }
    
/*   on clicking on bars icon on top-right of this page a drop-down menu should come  put css styles for that here  */
    
      .nav-menu{
        display:none;
    }
    
  
   .dropbtn{

		display: inline-block;
        /* float:right; */
		color: white;
  		font-size: 2rem;
 	   border: none;
       cursor: pointer;
	}
    
    .dropdown{ 
         left:80%;
         position: relative;
        display: inline-block;
        /* float:right; */
/*          box-shadow: 0px 0px 16px red; */
    }
    
    .dropdown-content{
        /* float:right; */
          box-shadow: 0px 9px 16px rgb(155, 157, 140);
    }
    
    
   .dropdown:hover .dropdown-content {
       display: block;
    } 
    
  
    
/*    decrease the font size of the text that appears on hovering over images in portfolio section   */
    
    .portfolio-details{
        font-size: 1.5rem;
    }
  
/*   css code for responsive contact section   */
    #contact-container{
        display:flex;
        flex-direction:column;
/*        align-items: center; */
/*       justify-content: center; */
/*         min-width:100%; */
    }
    
    #contact-form-container{
/*        margin-right:20% !important; */
      
        min-width:100%;
    }
     #contact-form{
       margin-right:6rem ;
    }
/*     .sub-btn{

    } */
    
    #my-details-container{
        margin-left:3.5rem;
      min-width:75%;
    }
    
    
}

/* education section css */

.college-logo{
    height: auto;
    width: 4rem;
}
